<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2025 XperiaLabs Project

     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xperia.settings.charger.hspc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.sonymobile.smartcharger.permission.GE_CHARGE"/>
    <protected-broadcast android:name="com.sonymobile.smartcharger.GE_CHARGE" />

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true">

        <receiver android:name=".BootCompletedReceiver"
                  android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".HSPCQSTileService"
            android:icon="@drawable/ic_hspc_qs"
            android:label="@string/hspc_title"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

    </application>
</manifest>
